body {
  margin: 0;
  background-color: rgb(49, 100, 158);
  font-family: 'Raleway';
}

.container {
  width: 380px;
  margin: auto;
  padding: 100px 0;
}

.title {
  text-align: center;
  margin-bottom: 60px;
  color: white;
  font-size: 38px;
  text-shadow: 2px 2px 5px rgb(8, 8, 8);
}

.inputTodoTxt {
  width: 350px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  margin-right: 10px;
  margin-bottom: 50px;
  border: none;
}

.todoContainer {
  width: 370px;
  box-shadow: 12px 12px 5px #203047b7;
}

.todolist {
  background-color: whitesmoke;
  width: 370px;
  margin: 7px 0;
}

.checkbox {
  cursor: pointer;
  position: relative;
  margin-left: 10px;
}

.showTodo {
  display: inline-flex;
  margin-left: 15px;
  font-size: 16px;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 2px;
}

.deleteBtn {
  background-color: red;
  float: right;
  border: none;
  padding: 5px 10px;
  margin-top: 11px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: crimson;
}

.emptyTodoList {
  width: 370px;
  text-align: center;
  color: white;
  background-color: rgb(49, 100, 158);
  font-style: italic;
}